#### Per-column update on multiindex: trainingGroup, trainingUnit
* Got a new raw data (spreadsheets) for trainingSemester=='3-1'

In [2]:
import pandas as pd

In [ ]:
x=pd.read_clipboard()

In [4]:
y=pd.read_clipboard()

In [7]:
y.columns.isin(x.columns)

array([ True,  True,  True,  True,  True,  True])

In [ ]:
x=x.set_index(["trainingSemester","idx","trainingSerie"])
y=y.set_index(["trainingSemester","idx","trainingSerie"])

In [12]:
x.update(y,overwrite=True)

In [22]:
x.groupby(["trainingSemester","trainingCompany"])[["trainingUnit","trainingGroup"]].count().query("trainingUnit==0")

                                  trainingUnit  trainingGroup
trainingSemester trainingCompany
3-1              김천제일병원                      0              0
                 문경시보건소                      0              0
                 산본제일병원                      0              0
                 상주시보건소                      0              0
                 센트럴병원                       0              0
                 아산시보건소                      0              0
                 예천군보건소                      0              0
                 해피아이병원                      0              0
3-2              문경시보건소                      0             31
                 상주시보건소                      0             10
                 아산시보건소                      0             10

#### Boolean indexing upon nan-containing columns

In [33]:
x.loc[
    (x.trainingSemester=="3-1")*(x.trainingClass.apply(lambda q:q.__contains__("리학실습") if isinstance(q,str) else False)),"trainingClass"
]="지역사회간호학실습"

* This is for in-placing values

#### Dict-table based merging or updating

In [26]:
dictTable=pd.read_clipboard().set_index(["trainingSemester","trainingClass"])
dictTable.sample(3)

,,trainingClassTo,trainingClassYear,trainingClassCredit,trainingClassCreditMoney
trainingSemester,trainingClass,,,,
3-1.5,여성건강간호학실습,여성건강간호학실습,4,3,9
3-2,아동간호학실습,아동간호학실습,3,3,9
4-1,성인간호학실습,성인간호학실습3,4,2,6

In [34]:
x=x.set_index(dictTable.index.names)

In [45]:
final=x.drop(
    [
        "trainingClassTo",
        "trainingClassYear",
        "trainingClassCredit",
        "trainingClassCreditMoney"
    ],axis=1
).join(dictTable).reset_index()

In [47]:
final.loc[:,"trainingClass"]=final.trainingClassTo.copy()
final.drop("trainingClassTo",axis=1).to_csv("c:/code/data.csv",index=0)